<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="styles.css">
		<title>Login</title>
	</head>
	<body>
		<div id="container">
			<div>
				<div id="border-block">
						<img id="logo" src="bank.png">
				</div>
			</div>
			<div>
				<form>
					<label>Nome Utente</label>
					<br>
					<input type="text" id="name" name="name" required>
					<br>
					<br>
					<label>Password</label>
					<br>
					<input type="password" id="password" name="password" required>
					<br>
					<br>
					<input type="submit" value="Log In">
				</form>
			</div>
		</div>
	</body>
</html>