<!DOCTYPE html>
<html>
    <head>
        <title>Account</title>
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
    </head>

    <body>
        <div id="header">
            <div id="menu">
                <a href="/home"><img alt="Home" src="/assets/images/home-solid.svg"></a>
            </div>
            <div><h2>Conto <span th:text="${accountId}">2020</span></h2></div>
            <div><h2>Saldo: <span th:text="${euros} + |,| + ${cents}">300,00 </span> &euro;</h2></div>
        </div>

        <div id="status">
            <div>
                Denaro speso questo mese:<br>
                <strong>
                    &euro;
                    <span th:text="${spentEuros} + |,| + ${spentCents}">500,00</span>
                </strong>
            </div>
            <div>
                Denaro incassato questo mese:<br>
                <strong>
                    &euro;
                    <span th:text="${earnedEuros} + |,| + ${earnedCents}">500,00</span>
                </strong>
            </div>
        </div>

        <div id="content">
            <div id="transfers">
                <div id="transfers-header"><h2>Trasferimenti</h2></div>
                <div id="transfers-body">
                    <table th:remove="all-but-first" th:each="transfer : ${transfers}">
                        <tr th:class="(${transfer.sourceAccountId} == ${accountId})? 'export' : 'import '" class="import">
                            <td>
                                <img th:attr="src=|/assets/images/| + ((${transfer.sourceAccountId} == ${accountId})? 'upload.png' : 'download.png')"
                                     alt="download"
                                     width="32" height="32">
                            </td>
                            <td>
                                <strong>
                                    <span th:text="(${transfer.sourceAccountId} == ${accountId})? (${transfer.destinationAccountId}) : (${transfer.sourceAccountId})">
                                        Giovanni 2020
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    <span th:text="(((${transfer.sourceAccountId} == ${accountId})? '-' : '+') + ${transfer.euros} + |,| + ${transfer.cents})">
                                        +300,00
                                    </span>
                                    &euro;
                                </strong>
                            </td>
                            <td>
                                <em><span th:text="${transfer.creationDate}">01/01/2020</span></em>
                            </td>
                            <td th:title="${transfer.cause}" title="la mia bella causa">
                                <img src="/assets/images/icons8-help-64.png"
                                     height="32" width="32">
                            </td>
                        </tr>
                        <tr class="export">
                            <td>
                                <img src="/assets/images/upload.png" alt="download" width="32"
                                     height="32">
                            </td>
                            <td><strong>Giovanni (2020)</strong></td>
                            <td><strong>&euro; -300,00</strong></td>
                            <td><em>01/01/2020</em></td>
                            <td title="la mia bella causa">
                                <img src="/assets/images/icons8-help-64.png"
                                     height="32" width="32">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="payment">
                <div id="payment-background">
                    <form action="/create-transfer" method="POST">
                        <fieldset>
                            <legend>Effettua un bonifico</legend>
                            <input name="source-account" type="hidden" th:attr="value=${accountId}">
                            <div>
                                <label for="destination-customer">
                                    Codice Destinatario
                            </label>
                            <input name="destination-customer" type="number"
                                   placeholder=" 112" required>
                        </div>

                        <div>
                            <label for="destination-account">
                                Conto Destinatario
                            </label>
                            <input name="destination-account" type="number"
                                   placeholder=" 112" required>
                        </div>

                        <div>
                            <label for="amount">Importo</label>
                            <span>
                                <span>&euro;</span>
                                <input name="amount" type="text"
                                       placeholder=" 123,00"
                                       pattern="[0-9]+,[0-9]{2}" required>
                            </span>
                        </div>


                        <div>
                            <label for="cause">Causale</label>
                            <textarea rows="7" name="cause" maxlength="255"></textarea>
                        </div>

                        <div><input type="submit" value="Invia" title="SABBAMIT"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
