body {
    margin: 0px;
    font-family: Boston, Sans-Serif;
    background-color: #f4f3f3;
}

#header {
    background-color: #1f222b;
    padding: 0px 35px;
    box-shadow: 0px 8px 15px grey;
    color: #f4f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: boston, sans-serif;
    height: 100px;
}

#header>div {
    width: 33.33%;
    text-align: center;
}

#menu {
    height: 40%;
}

#menu img {
    height: 100%;
}

#header input[type=submit] {
    background-color: #1f222b;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #f4f3f3;
    font-size: 1.2em;
    font-weight: bold;
}

#status {
    background-color: #d9e0e2;
    color: #1f222b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

#status>div {
    line-height: 1.5em;
}

#content {
    display: flex;
}

#content>div:first-child {
    width: 55%;
}

#content>div:last-child {
    width: 45%;
}

#transfers {
    padding: 5px;
}

#transfers-header {
    background-color: #1f222b;
    color: #f4f3f3;
    text-align: center;
}

#transfers-header h2 {
    font-size: 32px;
    padding: 17px;
    margin: 0px;
}

#transfers-body {
    width: 100%;
    overflow: auto;
    height: 600px;
}

#transfers-body table {
    border-collapse: collapse;
    width: 100%;
}

#transfers-body table tr:nth-child(2n) {
    background-color: #d9e0e2;
}

#transfers-body table td {
    width: 20%;
    text-align: center;
}

#transfers-body table td:nth-last-child(2) {
    font-size: 12px;
}

#transfers-body table td:last-child {
    cursor: help;
}

#transfers-body table tr.export td:nth-child(3) {
    color: #f04b4b;
}

#transfers-body table tr.import td:nth-child(3) {
    color: #73d57b;
}

#transfers-body table td {
    padding: 15px;
}

#payment {
    padding: 5px;
}

#payment-background {
    background-image: url("electronic-payments.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#payment form {
    width: 500px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    padding-left: 20px;
}

#payment form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px;
}

#payment form fieldset {
    border: 0;
}

#payment form legend {
    font-size: 1.9em;
    font-weight: bold;
}

#payment form div label {
    font-size: 1.3em;
}

#payment form div span>span {
    font-size: 1.2em;
}

#payment form div:last-child {
    flex-direction: row-reverse;
}

#payment form div:nth-child(4) {
    align-items: flex-start;
    flex-direction: column;
}

#payment form div:nth-child(4) textarea {
    width: 100%;
    margin-top: 30px;
}

#payment form div input[type=text],
#payment form div input[type=number] {
    height: 30px;
}

#payment form div input,
#payment form div:nth-child(4) textarea {
    font-size: 1.2em;
    border: 2px solid black;
    border-radius: 3px;
}

#payment form div input[type=submit] {
    background-color: #d9e0e2;
    border: none;
    padding: 12px 30px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    align-self: flex-end;
}

/* Chrome, Safari, Edge, Opera */
input[name=destination-account]::-webkit-outer-spin-button,
input[name=destination-account]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[name=destination-account] {
    -moz-appearance: textfield;
}

#accounts table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 35px;
}

#accounts table td {
    text-align: center;
}

#accounts table thead tr {
    background-color: #f4f3f3;
    color: #1f222b;
}

#accounts table tbody tr {
    cursor: pointer;
}


#accounts table tbody tr:hover {
    background-color: #d9e0e2;
}

#accounts table td {
    font-size: 1.3em;
}

#accounts table th {
    font-size: 1.5em;
}

#accounts table th,
#accounts table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#accounts table th,
#accounts table td {
    width: 30%;
}

#accounts table th:first-child,
#accounts table td:first-child {
    width: 10%;
}
