body{
	margin: 0px;
	font-family: boston, sans-serif;
}

table{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

td{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #ddd;
}

td#table-title{
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #ddd;
}

td.table-data{
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #ddd;
}

tr td:nth-child(2){
	text-align: center;
}

div#header {
    background-color: #1f222b;
    padding: 0px 35px;
    box-shadow: 0px 8px 15px grey;
    color: #f4f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

div#header > div {
    width: 33.33%;
    text-align: center;
}

div#menu {
    height: 40%;
}

div#menu  img{
    height: 100%;
}

div#message {
	font-size: 32px;
	font-weight: bold;
	color: #f04b4b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
	margin-top: 30px;
}

div#div-table{
	margin: auto;
	width: 40%;
	margin-top: 20px;
	margin-bottom: 50px;
}

a#return:link, a#return:visited {
	background-color: #d9e0e2;
	color: #000000;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

a#return:hover, a#return:active {
	background-color: #c7ccce;
}