body {
    margin: 0px;
    font-family: Boston, Sans-Serif;
    background-color: #f4f3f3;
}

h2 {
    margin: 0px;
}

#header {
    background-color: #1f222b;
    padding: 0px 35px;
    box-shadow: 0px 8px 15px grey;
    color: #f4f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: boston, sans-serif;
    height: 100px;
}

#header>div {
    width: 33.33%;
    text-align: center;
}

#menu {
    height: 40%;
}

#menu img {
    height: 100%;
}

#header input[type=submit] {
    background-color: #1f222b;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #f4f3f3;
    font-size: 1.2em;
    font-weight: bold;
}

#status {
    background-color: #d9e0e2;
    color: #1f222b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

#status>div {
    line-height: 1.5em;
}

#content {
    display: flex;
}

#content>div:first-child {
    width: 55%;
}

#content>div:last-child {
    width: 45%;
}



/* payment region */
#payment {
    margin-top: 50px;
}

#payment-background {
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    margin: auto;
    height: 100%;
    width: 70%;
    border-radius: 30px;
    box-shadow: 1px 2px 4px lightgrey;
}

#div-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
}

#img-form-header {
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

#div-form {
    width: 90%;
    margin: auto;
    display: none;
}

#payment form {
    margin-top: 30px;
}

#div-destination-information {
    border: solid 1px ;
    margin: 5px;
}

#div-destination-information div,
#div-source-id,
#div-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px;
}

#payment form #div-submit {
    flex-direction: row-reverse;
}

#payment form fieldset {
    padding: 0px;
    border: 0;
}

#payment form legend {
    font-size: 1.9em;
    font-weight: bold;
}

#payment form div label {
    font-size: 1.3em;
}

#payment form div span>span {
    font-size: 1.2em;
}

#payment form #div-textarea {
    align-items: flex-start;
    flex-direction: column;
}

#payment form #textarea {
    width: 100%;
    margin-top: 30px;
}

#payment form #source-id{
    display: block ;
    border-bottom: 1px solid black;
    padding-bottom: 22px;
}

#payment form div select,
#payment form div input[type=text],
#payment form div input[type=number] {
    height: 30px;
}

#payment form div select,
#payment form div input,
#payment form div button,
#payment form div:nth-child(7) textarea {
    font-size: 1.2em;
    border: 2px solid black;
    border-radius: 3px;
}

#payment form div input[type=submit],
#payment form div button {
    background-color: #d9e0e2;
    border: none;
    padding: 12px 30px;
    text-decoration: none;
    cursor: pointer;
    /* align-self: flex-end; */
}

/* Chrome, Safari, Edge, Opera */
input[name=destination-account]::-webkit-outer-spin-button,
input[name=destination-account]::-webkit-inner-spin-button,
input[name=destination-customer]::-webkit-outer-spin-button,
input[name=destination-customer]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[name=destination-customer],
input[name=destination-account] {
    -moz-appearance: textfield;
}
/* payment region end */

/* modal region */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content-customer-selector-popup {
    margin: auto;
    margin-top: auto;
    padding: 10px;
    width: 60%;
    background-color: white;
}

#search-filter {
    background-image: url("./../../Templates/Home/searchicon.png");
    background-position: left;
    background-position-x: 8px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-family: Boston, Sans-Serif;
    font-size: 1.1em;
    width: calc(100% - 60px);
}

#customers {
    font-family: Boston, Sans-Serif;
    font-size: 1.1em;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1f222b;
    color: white;
}
/* modal region end */

/* accounts region */
#accounts > table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 35px;
}

.tr-account td {
    text-align: center;
    font-size: 1.3em;
}

#accounts > table > thead > th,
.tr-account td {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
}

#accounts table thead tr {
    background-color: #f4f3f3;
    color: #1f222b;
}

#accounts table th {
    font-size: 1.5em;
}

.tr-account {
    cursor: pointer;
}

.tr-account:hover {
    background-color: #d9e0e2;
}

#accounts table th:first-child,
.tr-account td:first-child {
    width: 10%;
}
/* accounts region end */

/* transfers region */
.tr-transfers {
    display: none;
}

#transfers {
    padding: 5px;
}

#transfers-header {
    background-color: #1f222b;
    color: #f4f3f3;
    text-align: center;
}

#transfers-header h2 {
    font-size: 32px;
    padding: 17px;
    margin: 0px;
}

#transfers-body {
    /* width: 100%; */
    /* overflow: auto; */
}

#transfers-body table {
    border-collapse: collapse;
    width: 100%;
}

.export {
    background-color: #d9e0e2;
}

.import {
    background-color: white;
}

#transfers-body table td {
    width: 20%;
    text-align: center;
}

#transfers-body table td:nth-last-child(2) {
    font-size: 12px;
}

#transfers-body table td:last-child {
    cursor: help;
}

#transfers-body table tr.export td:nth-child(3) {
    color: #f04b4b;
}

#transfers-body table tr.import td:nth-child(3) {
    color: #73d57b;
}

#transfers-body table td {
    padding: 15px;
}
/* transfers region end */