body {
    font-family: Boston, Sans-Serif;
	background-color: #f4f3f3;
	color: #1f222b;
}	
	
#container{
	display: flex;
	height: 600px;
}

#container>div{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items:center;
}

#border-block{
	height: 50%;
    width: 100%;
    border-right: 1px solid #1f222b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#border-block>img{
	height: 250px;
}

input[type=submit] {
    background-color: white;
    padding: 6px 12px;
    text-decoration: none;
    cursor: pointer;
    color: #1f222b;
    font-size: 1.2em;
    font-weight: bold;
}

input{
    border: 1px solid black;	
}

input[type=submit]:hover{
	background-color: black;
	color: white;
}

label{
	font-weight: bold;
}