<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="styles.css">
	<title>Bonifico Effettuato Correttamente</title>
	</head>
	<body>
		<div id="header">
            <div id="menu">
				<a href="#"> <img src="home-solid.svg">     </a>
            </div>
            <div>
				<h2> Conto 2020</h2>
            </div>
            <div>
				<h2>Saldo: 300,00&euro;</h2>
            </div>
        </div>
		<div id="message">
			Bonifico Effettuato Correttamente
		</div>
		<div id="div-table">
			<table>
				<tr>
					<td id="table-title">Riepilogo</td>
					<td></td>
				</tr>
				<tr>
					<td class="table-data">A</td>
					<td>Ale Spanish</td>
				</tr>
				<tr>
					<td class="table-data">Importo</td>
					<td>200,00&euro;</td>
				</tr>
				<tr>
					<td class="table-data">Saldo Aggiornato</td>
					<td>150,00&euro;</td>
				</tr>
			</table>
		</div>
		<a id="return" href="#"><h2>Ritorna alla pagina</h2></a>
	</body>
</html>