<!DOCTYPE html>
<html>

<head>
    <title>Customer</title>
    <link rel="stylesheet" href="./assets/css/styles.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./assets/js/bank.js" defer></script>
    <script src="./assets/js/utils.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" defer></script>
</head>

<body>
    <div id="header">
        <div>
            <h2><span th:text="${fullName}">Alessio Spagnolo</span></h2>
        </div>
        <div>
            <button id="forget" type="button">Log Out</button>
        </div>
    </div>

    <div id="payment">
        <div id="payment-background">
            <form id="transfer-form">
                <fieldset>

                    <div id="div-header">
                        <h2>Effettua un bonifico</h2>
                        <img id="img-form-header" src="./assets/images/arrow-down-24.png" style="width: 24px;height: 24px;" ; />
                    </div>

                    <div id="div-form">
                        <div id="div-source-id">
                            <label for="source-account">
                                Seleziona il numero del conto con il quale effettuare il bonifico
                            </label>
                            <select name="source-account" th:remove="all-but-first">
                              <option th:each="account : ${accounts}" th:text="${account.accountId}" th:attr="value=${account.accountId}" value="100">100</option>
                              <option value="100">100</option>
                              <option value="101">101</option>
                              <option value="102">102</option>
                              <option value="103">103</option>
                            </select>
                        </div>

                        <div id="div-destination-information">
                            <div>
                                <h2> Dati destinatario</h2>
                                <button id="btn-address-book" type="button">
                                    Scegli da rubrica
                                </button>
                            </div>

                            <div>
                                <label for="destination-customer">
                                    Codice Destinatario
                                </label>
                                <input name="destination-customer" type="number" placeholder=" 112" required>
                            </div>

                            <!-- <input name="source-account" type="hidden" th:attr="value=${accountId}"> -->
                            <div>
                                <label for="destination-account">
                                    Conto Destinatario
                                </label>
                                <input name="destination-account" type="number" placeholder=" 112" required>
                            </div>

                            <div>
                                <label for="amount">Importo</label>
                                <span>
                                    <span>&euro;</span>
                                    <input name="amount" type="text" placeholder=" 123,00"
                                        pattern="(0|[1-9][0-9]*),[0-9]{2}" required>
                                </span>
                            </div>

                            <div id="div-textarea">
                                <label for="cause">Causale</label>
                                <textarea rows="7" id="textarea" name="cause" maxlength="255"></textarea>
                            </div>
                        </div>

                        <div id="div-submit">
                            <input id="submit" type="submit" value="Invia" title="SABBAMIT">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="modal">
        <div id="modal-content-customer-selector-popup">
            <input id="search-filter" type="text" placeholder="Cerca per nome e cognome">
            <table id="customers">
                <thead>
                    <tr>
                        <th>Nome e Cognome</th>
                        <th>Codice utente</th>
                        <th>Codice conto</th>
                    </tr>
                </thead>
                <tbody id="customers-body">
                    <tr>
                        <td>Alessio Spagnolo</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Alessio Spagnolo</td>
                        <td>100</td>
                        <td>101</td>
                    </tr>
                    <tr>
                        <td>Alessio Spagnolo</td>
                        <td>100</td>
                        <td>102</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="accounts">

        <table>

            <thead>
                <tr>
                    <th></th>
                    <th>Conto</th>
                    <th>Saldo</th>
                    <th>Ultima modifica</th>
                </tr>
            </thead>

            <tbody th:remove="all-but-first">

              <tr class="tr-account" th:each="account : ${accounts}" th:attr="account-id=${account.accountId}">
                <td><img src="./assets/images/bank-card-back-side.png"></td>
                <td><span th:text="${account.accountId}">2020</span></td>
                <td>&euro;<span th:text="${account.euros} + |,| + ${account.cents}">23423,00</span></td>
                <td><span th:text="${account.lastEdit}">20/20/20</span></td>
              </tr>
              <tr class="tr-transfers">
                  <td colspan="4">
                        <div id="transfers-body">
                            <table th:remove="all-but-first" th:each="transfer : ${transfers}">
                                <tr th:class="(${transfer.sourceAccountId} == ${accountId})? 'export' : 'import '"
                                    class="import">
                                    <td>
                                        <img th:attr="src=|./assets//images/| + ((${transfer.sourceAccountId} == ${accountId})? 'upload.png' : 'download.png')"
                                            alt="download" width="32" height="32">
                                    </td>
                                    <td>
                                        <strong>
                                            Conto
                                            <span th:text="(${transfer.sourceAccountId} == ${accountId})? (${transfer.destinationAccountId}) : (${transfer.sourceAccountId})">
                                              2020
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <span
                                                th:text="(((${transfer.sourceAccountId} == ${accountId})? '-' : '+') + ${transfer.euros} + |,| + ${transfer.cents})">
                                                +300,00
                                            </span>
                                            &euro;
                                        </strong>
                                    </td>
                                    <td>
                                        <em><span th:text="${transfer.creationDate}">01/01/2020</span></em>
                                    </td>
                                    <td th:title="${transfer.cause}" title="la mia bella causa">
                                        <img src="./assets//images/icons8-help-64.png" height="32" width="32">
                                    </td>
                                </tr>
                                <tr class="export">
                                    <td>
                                        <img src="./assets//images/upload.png" alt="download" width="32" height="32">
                                    </td>
                                    <td><strong>Giovanni (2020)</strong></td>
                                    <td><strong>&euro; -300,00</strong></td>
                                    <td><em>01/01/2020</em></td>
                                    <td title="la mia bella causa">
                                        <img src="./assets//images/icons8-help-64.png" height="32" width="32">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr class="tr-account">
                    <td><img src="./assets/images/bank-card-back-side.png"></td>
                    <td>2020</td>
                    <td>&euro;23423,00</td>
                    <td>20/20/20</td>
                </tr>
                <tr class="tr-transfers">
                    <td colspan="4">
                        <div id="transfers-body">
                            <table th:remove="all-but-first" th:each="transfer : ${transfers}">
                                <tr th:class="(${transfer.sourceAccountId} == ${accountId})? 'export' : 'import '"
                                    class="import">
                                    <td>
                                        <img th:attr="src=|./assets//images/| + ((${transfer.sourceAccountId} == ${accountId})? 'upload.png' : 'download.png')"
                                            alt="download" width="32" height="32">
                                    </td>
                                    <td>
                                        <strong>
                                            Conto
                                            <span
                                                th:text="(${transfer.sourceAccountId} == ${accountId})? (${transfer.destinationAccountId}) : (${transfer.sourceAccountId})">
                                                2020
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <span
                                                th:text="(((${transfer.sourceAccountId} == ${accountId})? '-' : '+') + ${transfer.euros} + |,| + ${transfer.cents})">
                                                +300,00
                                            </span>
                                            &euro;
                                        </strong>
                                    </td>
                                    <td>
                                        <em><span th:text="${transfer.creationDate}">01/01/2020</span></em>
                                    </td>
                                    <td th:title="${transfer.cause}" title="la mia bella causa">
                                        <img src="./assets//images/icons8-help-64.png" height="32" width="32">
                                    </td>
                                </tr>
                                <tr class="export">
                                    <td>
                                        <img src="./assets//images/upload.png" alt="download" width="32" height="32">
                                    </td>
                                    <td><strong>Giovanni (2020)</strong></td>
                                    <td><strong>&euro; -300,00</strong></td>
                                    <td><em>01/01/2020</em></td>
                                    <td title="la mia bella causa">
                                        <img src="./assets//images/icons8-help-64.png" height="32" width="32">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr class="tr-account">
                    <td><img src="./assets/images/bank-card-back-side.png"></td>
                    <td>2020</td>
                    <td>&euro;23423,00</td>
                    <td>20/20/20</td>
                </tr>
                <tr class="tr-transfers">
                    <td colspan="4">
                        <div id="transfers-body">
                            <table th:remove="all-but-first" th:each="transfer : ${transfers}">
                                <tr th:class="(${transfer.sourceAccountId} == ${accountId})? 'export' : 'import '"
                                    class="import">
                                    <td>
                                        <img th:attr="src=|./assets//images/| + ((${transfer.sourceAccountId} == ${accountId})? 'upload.png' : 'download.png')"
                                            alt="download" width="32" height="32">
                                    </td>
                                    <td>
                                        <strong>
                                            Conto
                                            <span
                                                th:text="(${transfer.sourceAccountId} == ${accountId})? (${transfer.destinationAccountId}) : (${transfer.sourceAccountId})">
                                                2020
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <span
                                                th:text="(((${transfer.sourceAccountId} == ${accountId})? '-' : '+') + ${transfer.euros} + |,| + ${transfer.cents})">
                                                +300,00
                                            </span>
                                            &euro;
                                        </strong>
                                    </td>
                                    <td>
                                        <em><span th:text="${transfer.creationDate}">01/01/2020</span></em>
                                    </td>
                                    <td th:title="${transfer.cause}" title="la mia bella causa">
                                        <img src="./assets//images/icons8-help-64.png" height="32" width="32">
                                    </td>
                                </tr>
                                <tr class="export">
                                    <td>
                                        <img src="./assets//images/upload.png" alt="download" width="32" height="32">
                                    </td>
                                    <td><strong>Giovanni (2020)</strong></td>
                                    <td><strong>&euro; -300,00</strong></td>
                                    <td><em>01/01/2020</em></td>
                                    <td title="la mia bella causa">
                                        <img src="./assets//images/icons8-help-64.png" height="32" width="32">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</body>

</html>
