<!DOCTYPE html>
<html>
	<head>
	    <link rel="stylesheet" href="/assets/css/styles_transfer_successful.css">
	    <title>Bonifico Effettuato Correttamente</title>
	</head>
	<body>
		<div id="header">
            <div id="menu">
				<a href="#" th:attr="href=|/account?account-id=| + ${sourceAccountId}"> <img src="/assets/images/home-solid.svg">     </a>
            </div>
            <div>
				<h2> Conto <span th:text="${sourceAccountId}">2020</span></h2>
            </div>
            <div></div>
        </div>
		<div id="message">
			Bonifico Effettuato Correttamente
		</div>
		<div id="div-table">
			<table>
				<tr>
					<td id="table-title">Riepilogo</td>
					<td></td>
				</tr>
				<tr>
					<td class="table-data">A</td>
					<td><span th:text="${destinationAccountId}">Ale Spanish</span></td>
				</tr>
				<tr>
					<td class="table-data">Importo</td>
					<td><span th:text="${transferAmountEuros} + |,| + ${transferAmountCents}">200,00</span>&euro;</td>
				</tr>
				<tr>
					<td class="table-data">Saldo Aggiornato</td>
					<td><span th:text="${updatedAccountAmountEuro} + |,| + ${updatedAccountAmountCents}">200,00</span>&euro;</td>
				</tr>
			</table>
		</div>
		<a id="return" href="#" th:attr="href=|/account?account-id=| + ${sourceAccountId}"><h2>Ritorna alla pagina</h2></a>
	</body>
</html>
