<!DOCTYPE html>
<html>
    <head>
        <title>Account</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
    </head>

    <body>
        <div id="header">
            <div id="menu">
                <a href="#"><img alt="Home" src="home-solid.svg"></a>
            </div>
            <div><h2>Conto 2020</h2></div>
            <div><h2>Saldo: 300,00&euro;</h2></div>
        </div>

        <div id="status">
            <div>Denaro incassato questo mese:<br><strong>500,00&euro;</strong></div>
            <div>Denaro speso questo mese:<br><strong>200,00&euro;</strong></div>
        </div>

        <div id="content">
            <div id="transfers">
                <table>
                    <thead><tr><td colspan="4">Trasferimenti</td></tr></thead>

                    <tbody>
                        <tr class="import">
                            <td>
                                <img src="download.png" alt="download"
                                     width="32" height="32">
                            </td>
                            <td><strong>Giovanni (2020)</strong></td>
                            <td><strong>+ 300,00&euro;</strong></td>
                            <td><em>01/01/2020</em></td>
                        </tr>
                        <tr class="export">
                            <td>
                                <img src="upload.png" alt="download" width="32"
                                     height="32">
                            </td>
                            <td><strong>Giovanni (2020)</strong></td>
                            <td><strong>- 300,00&euro;</strong></td>
                            <td><em>01/01/2020</em></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="payment">
                <div id="payment-background">
                    <form>
                        <fieldset>
                        <legend>Effettua un bonifico</legend>

                        <div>
                            <label for="destination-account">
                                Conto Destinatario
                            </label>
                            <input name="destination-account" type="number"
                                   placeholder=" 112" required>
                        </div>

                        <div>
                            <label for="amount">Importo</label>
                            <span>
                                <span>&euro;</span>
                                <input name="amount" type="text"
                                       placeholder=" 123,00"
                                       pattern="[0-9]+,[0-9]{2}" required>
                            </span>
                        </div>


                        <div>
                            <label for="cause">Causale</label>
                            <textarea rows="7" name="cause"></textarea>
                        </div>

                        <div><input type="submit" value="Invia"></div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
