<!DOCTYPE html>
<html>
    <head>
        <title>Customer</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
    </head>

    <body>
        <div id="header">
            <div id="menu">
                <a href="#"><img alt="Home" src="home-solid.svg"></a>
            </div>
            <div><h2>Alessio Spagnolo</h2></div>
            <div>
                <form action="/Bank/forget" method="post">
                    <input type="submit" value="Log Out">
                </form>
            </div>
        </div>

        <div id="accounts">
            <table>

                <thead>
                    <tr>
                        <th></th>
                        <th>Conto</th>
                        <th>Saldo</th>
                        <th>Ultima modifica</th>
                    </tr>
                </thead>

                <tbody>
                    <tr onclick="window.location='account.html';">
                        <td><img src="bank-card-back-side.png"></td>
                        <td>2020</td>
                        <td>&euro;23423,00</td>
                        <td>20/20/20</td>
                    </tr>
                    <tr onclick="window.location='account.html';">
                        <td><img src="bank-card-back-side.png"></td>
                        <td>2020</td>
                        <td>&euro;23423,00</td>
                        <td>20/20/20</td>
                    </tr>
                    <tr onclick="window.location='account.html';">
                        <td><img src="bank-card-back-side.png"></td>
                        <td>2020</td>
                        <td>&euro;23423,00</td>
                        <td>20/20/20</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </body>
</html>
