<!DOCTYPE html>
<html>
    <head>
        <title>Customer</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
    </head>

    <body>
        <div id="header">
            <div>
                <form action="/Bank/delete" method="post">
                    <input type="submit" value="Elimina Customer">
                </form>
            </div>
            <div><h2>Alessio Spagnolo</h2></div>
            <div>
                <form action="/Bank/forget" method="post">
                    <input type="submit" value="Log Out">
                </form>
            </div>
        </div>

        <div id="accounts">
            <table>
                <tr>
                    <th>Conto</th>
                    <th>Saldo</th>
                    <th>Ultima modifica</th>
                    <th></th>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>&euro;23423,00</td>
                    <td>20/20/20</td>
                    <td>Elimina account</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>&euro;23423,00</td>
                    <td>20/20/20</td>
                    <td>Elimina account</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>&euro;23423,00</td>
                    <td>20/20/20</td>
                    <td>Elimina account</td>
                </tr>
            </table>
        </div>
    </body>
</html>
